@charset "UTF-8";

.header {
    margin-left: auto;
    margin-right: auto;
}
.header > h1 {
    font-size: 400%;
    font-family: 'Fjalla One', sans-serif;
}

.header > h3 {
    font-family: 'Open Sans', sans-serif;
}


.section > .sectionheading {
    font-family: 'Fjalla One', sans-serif;
    font-size: xx-large;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(106, 151, 247);
    margin-bottom: 20px;
    border-width: 4px;
}

.section > heading {
    font-family: 'Fjalla One', sans-serif;
    
    font-size: x-large;
}

.section > subheading {
    font-family: 'Open Sans', sans-serif;
}

.section > content {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-left: 20px;
}

.fa {
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    color: #333;
}
  
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.center {
    margin: auto;
    padding: 10px;
}

.container {
    padding: 20px;
}

.section > img {
    padding: 5px;
    width: 60px;
}

.section > ul {
    padding-left: 20px;
}

.navbar {
    background-color:rgb(252, 93, 93);
}

.nav {
    padding-right: 10px;
    color: white;
}

.navbar-nav > :hover {
    opacity: 0.1;
    text-decoration: white;
    background-color: black;
}

.nav > li> a{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.section-navbar > ul > li:hover a {
    background-color: tomato;
    color:white;
}

.section-navbar :hover {
    background-color: tomato;
    color:white;
}

#achievements > li {
    padding: 5px;
}